For making popups appear infront of the page, use the following css:
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Increase its value wrt parent z-Index.
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 315px;
  height: 364px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  text-align: center;
  gap: 10px;
  padding: 24px 16px 24px 16px;

  h2 {
    width: 300px;
    height: 28px;
    // font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    color: #3a3a3a;
  }

  p {
    width: 283px;
    height: 60px;
    // font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    color: #656565;
  }
